!.gitkeep

.idea/
.vscode
.DS_Store

claude/debug
claude/file-history
claude/ide
claude/projects
claude/plugins
claude/shell-snapshots
claude/statsig
claude/todos
claude/history*
claude/settings.json
claude/downloads
claude/session-env
claude/plans
claude/stats-cache.json
claude/cache
claude/paste-cache

pi/agent/bin
pi/agent/sessions/**
pi/agent/auth.json
pi/agent/settings.json

# Zsh compiled files
*.zwc

# Zsh backup files
zshrc.backup
