!.gitkeep

.idea/
.vscode
.DS_Store

claude/debug
claude/file-history
claude/ide
claude/projects
claude/shell-snapshots
claude/statsig
claude/todos
claude/history*
claude/settings.json
claude/downloads
claude/session-env
claude/plans
